
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white">Video Game Wiki</h2>

<div>
    <p style="color:white">Welcome to my Wiki of my personal favorite games in some different genres. </p>
</div>

<section>
    <h2>Adventure</h2>
    <div>
        <img src="~/Content/images/websitepics/zelda.jpg" max-height="50%" max-width="50%" />
    </div>
</section>
<section>
    <div>
        <h2>Fighting</h2>
        <img src="~/Content/images/websitepics/smash.jpg" max-height="50%" max-width="50%" />
    </div>
</section>


