
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white">Video Game Wiki</h2>

<div>
    <p style="color:white">Welcome to my Wiki of my personal favorite games in some different genres. </p>
</div>

<section>
    
    <div class="zelda-image">        
        </div>
        <div class="smash-image">
        </div>
        <div class="witcher-image">
        </div>    
</section>
<section>
    <div class="gears-image">
        </div>
    <div class="rocketleague-image"> 
    </div>
</section>


